# This is a sample file to input values for variables
# Either create a new file called terraform.tfvars with the contents 
# Or rename this file to terraform.tfvars

cluster_name        = ${PRISMELEMENT_CLUSTERNAME}   # Name of Prism Element Cluster
subnet_name         = ${PRISMELEMENT_SUBNET_NAME}   # Name of Prism Element Network
user                = ${NUTANIX_USERNAME}
password            = ${NUTANIX_PASSWORD}
TF_VAR_PRISMCENTRAL_ADDRESS        = "${TF_VAR_PRISMCENTRAL_ADDRESS}"      # IP address or FQDN 
vm_master_prefix    = ${VM_MASTER_PREFIX}
vm_worker_prefix    = ${VM_WORKER_PREFIX}
vm_master_count     = ${VM_MASTER_COUNT}
vm_worker_count     = ${VM_COUNT_COUNT}
image_uri           = ${RHCOS_IMAGE_URI}